body {
	font-family: "Khmer OS Content", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.header-menu {
	padding: 20px;
	background-color: #20a8d8;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.img-fluid{
    width: 70%;
}
.img-question{
    width: 20px;
}
.question-text {
	font-size:18px;
}
.question-text span{
    font-weight: bold;
    color: crimson;
}
.question-text img {
	height: 218px;
}
.formlogin{
    margin-top: 200px;
}
.option-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 40px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
}
.option-input:hover {
	background: #9faab7;
}
.option-input:checked {
	background: #20a8d8;
}
.option-input:checked::before {
	height: 40px;
	width: 40px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 26.66667px;
	text-align: center;
	line-height: 40px;
}
.option-input:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #20a8d8;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
}
.option-input.radio {
	border-radius: 50%;
}
.option-input.radio::after {
	border-radius: 50%;
}
.checkAnswer {
	margin-top: 0px;
    margin-top: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    color: #9faab7;
    font-family: "Khmer OS Content", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
.checkAnswer label {
    display: block;
    line-height: 40px;
    font-size: 18px;
    color: black;
}
.break-line {
	height: 2px;
	background-color: black;
}
.minHeight370 {
	min-height: 380px;
}
.py-164 {
	padding: 164px 0;
}
